HW2 Video Search/annotations
HW2 Video Search/Frames
HW2 Video Search/Videos
HW2 Video Search/train2017
HW2 Video Search/val2017
HW2 Video Search/autoencoder_model.pth
HW2 Video Search/coco_annotations.zip
HW2 Video Search/coco_train2017.zip
HW2 Video Search/coco_val2017.zip
HW2 Video Search/autoencoder.pth
HW3-DroneFollowMe/Videos
HW3-DroneFollowMe/Frames
HW3-DroneFollowMe/.venv
HW3-DroneFollowMe/Saved
HW3-DroneFollowMe/yolov5s.pt
HW3-DroneFollowMe/yolov8n.pt
HW3-DroneFollowMe/jack.jpg
HW3-DroneFollowMe/hw3.ipynb
HW3-DroneFollowMe/Saved3
HW3-DroneFollowMe/Saved2
HW3-DroneFollowMe/objects.json
HW3-DroneFollowMe/output_video3.mp4
HW3-DroneFollowMe/output_video2.mp4
HW3-DroneFollowMe/output_video.mp4
runs
.venv